---
---

@import "{{ site.theme }}";

a:hover,a:focus {
    color: white;
    background: #267cb9;
    font-weight: 400;
}

body {
    padding: 10px;
}

.wrapper {
    width: 90%;
    float: left;
}

header {
    width: 250px;
}

section {
    width: 500px;
}
