mkdocs-material[imaging]==9.6.21
mkdocs==1.6.1
mkdocs-blog-plugin==0.25.1
mkdocs-git-revision-date-localized-plugin==1.2.6
mkdocs-sitemap-plugin==0.2.1
mkdocs-seo-plugin==0.5.3
mkdocs-privacy-plugin==0.2.0
mkdocs-social-plugin==0.3.2
pymdown-extensions==10.11
